{
    "parser": "babel-eslint", 
    "env": { 
            "browser": true, 
            "commonjs": true, 
            "node": true, 
            "es6": true 
    }, 
    "parserOptions": { 
            "ecmaVersion": 6, 
            "sourceType": "module", 
            "ecmaFeatures": { 
                "jsx": true, 
                "classes": true, 
                "defaultParams": true 
            } 
    }
}